


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       
        <img style="width: 50px; height: 50px;" src="https://cdn1.vectorstock.com/i/thumb-large/26/50/letter-s-laurel-wreath-logo-icon-design-template-vector-3272650.jpg" alt="Letter S laurel wreath logo icon design template" class="reveal" title="Letter S laurel wreath logo icon design template">

      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item-active" *ngFor="let nav of navitems">
            <a class="nav" href="#">{{nav}}</a></li>
        </ul>
    </div>
  </nav>
