.test1 {
background-origin: padding-box;
background-color:rgb(0, 153, 255);
color:white,
}

.test2 {
    
    background-color: chartreuse;
    padding: 2px;
    
}
.male-class{
    background-color:blue;
    padding: 1px;
}
.female-class{
    background-color: crimson;
    padding: 3px;
}
